doctype html
head
    title Game Of Life
body
    .app-gof
        header 
            h2 Conway's Game Of Life
        .canvas-group
            canvas(id="c1",width="880px",height="400px")
        .dashbord
            .controls-left
                button.stop Stop
                button.play Play
                button.clear Clear
            .output 
                h3 Generation
                .iterator-count 0
            .controls-right
                button.random Random
                button.patterns Patterns
        
        
