doctype html
head
    meta(charset="utf-8")
    title Conway's Game Of Life
body
    h3 
        |We can read about Conway's Game Of Life on 
        a(href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life",target="_blank") Wiki
        |.
        |Link to 
        a(href="https://github.com/codebysergeyivanov/game-of-life",target="_blank") GitHub
        |.
    #app-gof
        header 
            h2 Conway's Game Of Life
        .canvas-group
            canvas(id="c1",width="880px",height="400px")
        .dashbord
            .controls-left
                button.stop Stop
                button.play Play
                button.clear Clear
            .output 
                h3 Generation
                .iterator-count 0
            .controls-right
                button.random Random
                button.patterns Patterns
        
        
